.main {
  background-image: url(./imgs/bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
