.header {
  text-align: center;
}

.facts {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 4px;
  padding: 20px;
  border-spacing: 0;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}

th {
  text-align: left;
}

td,
th {
  padding: 10px;
}

h3 {
  margin-bottom: 0;
}

/* Using CSS grid */
.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  text-align: center;
  padding: 0;
}

.links > li {
  background-color: cadetblue;
  list-style-type: none;
  padding: 20px;
}

a:link,
a:visited {
  text-decoration: none !important;
  color: white;
}

/* 
    Using Flexbox
    You can comment / uncomment this code using cmd+/
*/

/* 
.links {

}

.links > li {

}
*/
